*{
		box-sizing: border-box;
	}
header
{
	background-color: #666;
	padding:50px;
	color:white;
}
ul
{
	font-size:20px;
	float:right;
	text-align: right;
	list-style-type: none;
	margin:0px;
	padding:10px;
	overflow:hidden;
}
li 
{
	display:block;
	padding:10px;
	float:left;
}
li a
{
	text-decoration: none;
	color:white;
}
.left
{
	float: left;
	font-size: 60px;
	margin-top: -80px;
}
.right
{
	margin-top: -30px;
}
footer
{
	background-color: #666;
	padding:10px;
	text-align: left;
	color:white;
}
article
{
	margin-left: 200px;
	padding:10px;
	width:40%;
	height: 500px;
}
section:after
{
	content:"";
	display:table;
	clear:both;
	min-height: 100vh;
}
/*section:before
{
	content:"";
	display:table;
	clear:both;
	min-height: 100vh;
}*/
.main
{
	width: 500px;
}
.name
{
	margin-left: 150px;
	float:left;
}
.field
{
	margin-right:80px;
	float:right;
}
.err
{
	color:red;
}
.success
{
	color:green;
}